@import "../../styles/vars.scss";

.title {
  font-size: 2em;
  font-weight: bold;
  text-align: left;
  color: $hl-color;
  margin: 5px 0;
  &.centered {
    text-align: center;
  }
}
.subtitle {
  margin: 5px 0;
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  text-transform: capitalize;
  color: $muted-color;
  &.centered {
    text-align: center;
  }
}
